@charset "uft-8";
@import url("./normalize.css");
@import url("./font.css");

*, *::before, *::after{
  box-sizing: border-box;
}
/* CSS Reset */
html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit;  */
	vertical-align: baseline;
}

ul {
	list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
  font-size:0.625; /*10px*/
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size:140%;
    color:#181818;
}

a:link, a:visited{
  color:inherit;
  text-decoration: none;
}
/* a:hover, a:focus{
  color:#f00;
  text-decoration: underline;
} */

img{
  width:100%;
}

.readable-hidden, .ally{
  position: absolute;
  left:-9999%;
  width:1px;
  height:1px;
  overflow:hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.clearfix{
  content:"";
  display: block;
  clear:both;
}



.wrap{}
  .header, .container, .footer{
    width:980px;
    margin:0 auto;
  }
  .header{
    position: relative;
  }
  .logo{
    background-color:#43AAD3;
    padding-left:100px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  }

  .logo img{
    width: 400px;
    /* background-color:#43AAD3;
    
  }
  .container{
    background-color:#f2f2f2;
    /* height:100px; */
  }
  .footer{
    background-color:aquamarine;
    height:100px;
  }

  .container{}
  .weather{
    width: 490px;
    margin: 0 auto;
  } /*section*/
  .weather-content{
    position: relative;
    min-height: 200px; 
    /* background-color: gray; */
  }
  .dong{
    font-size: 20px;
    width: 50%;
    height: 40px;
    line-height: 40px;
  }
  .curr-time{
    display:inline-block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    position:absolute; 
    top:0; 
    right: 10px;
  }

  .weather-data{
    /*
      width값에 따라 반응형 
    */
    height: 122px;
    /* border:2px solid #fdfdfd;
    box-shadow: 2px 2px 2px #848484; */
    border: 2px solid #ddd;
  }
  .weather-data > div{
    float: left;
  }
  .weather-data > .left,
  .weather-data > .right{
    width: 50%;
    height: 120px;
    /* background-color: #fff; */
  }
  .weather-data > .left{
    /* background-color:aquamarine; */
    text-align: center;
  }
  .right{
    padding-left: 20px; 
  }
  .right p:first-child span{
    line-height: 70px;
  }
  .right p:last-child{
    height: 30px; 
    margin-top:10px;
  }
  .degree{
    font-size: 350%;
    line-height: 120px;
  }
  .deg-unit{
    top: -1.0em;
    font-size: 150%;
  }
  .weather-img{
    display:inline-block;
    width: 50px;
    height:50px;
    background-image: url("./image/sunny.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .weather-state{
    margin-left: 20px;
  }
  .weather-img, .weather-state{ 
    vertical-align: middle;
  }
  .search-top10{
    width: 490px;
    height: 52px;
    margin:0 auto;
    /* background-color:gold; */
    
  }
  .search-top10 > div {
    width: 50%;
    float: left;
    line-height: 150px; 
  }
  .search-top10 > div:first-child{
    text-align: center;
    font-style: italic;
  }
  .search-item{
    background-color: antiquewhite;
  }
  .search-item a:link, .search-item a:visited{
    display: block;
    background-color: #43AAD3;
  }
  .search-item a:hover, .search-item a:focus{
    outline: 2px dashed #f00;
  }
  .search-item span {
    display: block;
    text-align: center;
    line-height: 150px;
  }
  .search-top10 em{
    font-weight: bold;
    font-style: normal;
    color: #fff;
  }